mainicon  ICON windows\helios.ico
shellicon ICON windows\shell.ico
graphicon ICON windows\graph.ico
monomain  ICON windows\monohel.ico
monoshell ICON windows\monshell.ico

#include "windows\menus.h"

MainMenu MENU
   BEGIN
     POPUP "&File"
       BEGIN
          MENUITEM "&Reboot Helios",      IDM_REBOOT
          MENUITEM "&Exit Helios",        IDM_QUIT
          MENUITEM SEPARATOR
          MENUITEM "&About Helios",       IDM_ABOUT
       END

     POPUP "&Debug"
        BEGIN
          MENUITEM "&Set/Reset Options",  IDM_DBGSET
          MENUITEM "Select &All", IDM_SETALL
          MENUITEM "&Reset All",  IDM_RESETALL
        END

   END


Shellmenu MENU
   BEGIN
     POPUP "&File"
        BEGIN
          MENUITEM "&Reboot Helios",      IDM_REBOOT
          MENUITEM "&Exit Helios",        IDM_QUIT
        END

     POPUP "&Debug"
        BEGIN
          MENUITEM "&Set/Reset Options",  IDM_DBGSET
          MENUITEM "Select &All", IDM_SETALL
          MENUITEM "&Reset All",  IDM_RESETALL
        END
   END

#include <windows.h>

ABOUTBOX DIALOG 20, 20, 160, 80
STYLE WS_POPUP | WS_DLGFRAME
BEGIN
    CTEXT           "Helios I/O Server", -1, 0, 12, 160, 8
    ICON            "monomain", -1, 8, 8, 0, 0
    CTEXT           "Helios I/O Server under MS-Windows", -1, 0, 36, 160, 8
    CTEXT           "Version 3.100 May 1993", IDD_VERSION, 0, 48, 160, 8
    DEFPUSHBUTTON   "Ok", IDOK, 64, 60, 32, 14, WS_GROUP
END

DBGBOX DIALOG 100, 100, 284, 138
STYLE WS_POPUP | WS_DLGFRAME
BEGIN
    CTEXT           "Debug Logging File Name", -1, 32, 13, 80, 8
    EDITTEXT        IDD_FNAME, 120, 10, 70, 12, ES_AUTOHSCROLL
    GROUPBOX        "I/O Server Debug &Options", -1, 20, 28, 199, 110
    CONTROL         "Boot", IDD_BOOT, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 
                    25, 40, 52, 10
    CONTROL         "Coms", IDD_COMS, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 
                    25, 52, 52, 10
    CONTROL         "Delete", IDD_DEL, "Button", BS_AUTOCHECKBOX | 
                    WS_TABSTOP, 25, 64, 52, 10
    CONTROL         "Errors", IDD_ERR, "Button", BS_AUTOCHECKBOX | 
                    WS_TABSTOP, 25, 76, 52, 10
    CONTROL         "File I/O", IDD_FILE, "Button", BS_AUTOCHECKBOX | 
                    WS_TABSTOP, 25, 88, 52, 10
    CONTROL         "Graphics", IDD_GRAPHICS, "Button", BS_AUTOCHECKBOX | 
                    WS_TABSTOP, 25, 100, 52, 10
    CONTROL         "Raw Disk", IDD_RAWD, "Button", BS_AUTOCHECKBOX | 
                    WS_TABSTOP, 25, 112, 52, 10
    CONTROL         "Initialisation", IDD_INIT, "Button", BS_AUTOCHECKBOX | 
                    WS_TABSTOP, 25, 124, 52, 10
    CONTROL         "Directory", IDD_DIR, "Button", BS_AUTOCHECKBOX | 
                    WS_TABSTOP, 90, 40, 52, 10
    CONTROL         "Keyboard", IDD_KEYB, "Button", BS_AUTOCHECKBOX | 
                    WS_TABSTOP, 90, 52, 52, 10
    CONTROL         "Messages", IDD_MESS, "Button", BS_AUTOCHECKBOX | 
                    WS_TABSTOP, 90, 64, 52, 10
    CONTROL         "Names", IDD_NAME, "Button", BS_AUTOCHECKBOX | 
                    WS_TABSTOP, 90, 76, 52, 10
    CONTROL         "Open", IDD_OPEN, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 
                    90, 88, 52, 10
    CONTROL         "Close", IDD_CLOSE, "Button", BS_AUTOCHECKBOX | 
                    WS_TABSTOP, 90, 100, 52, 10
    CONTROL         "Exit", IDD_EXIT, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 
                    90, 112, 52, 10
    CONTROL         "Read", IDD_READ, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 
                    90, 124, 52, 10
    CONTROL         "Search", IDD_SRCH, "Button", BS_AUTOCHECKBOX | 
                    WS_TABSTOP, 150, 40, 52, 10
    CONTROL         "Timeouts", IDD_TIME, "Button", BS_AUTOCHECKBOX | 
                    WS_TABSTOP, 150, 52, 52, 10
    CONTROL         "Open Reply", IDD_OPRPLY, "Button", BS_AUTOCHECKBOX | 
                    WS_TABSTOP, 150, 64, 52, 10
    CONTROL         "Write", IDD_WRITE, "Button", BS_AUTOCHECKBOX | 
                    WS_TABSTOP, 150, 76, 52, 10
    CONTROL         "Memory", IDD_MEMORY, "Button", BS_AUTOCHECKBOX | 
                    WS_TABSTOP, 150, 88, 52, 10
    CONTROL         "Reconfigure", IDD_RECON, "Button", BS_AUTOCHECKBOX | 
                    WS_TABSTOP, 150, 100, 52, 10
    CONTROL         "DDE", IDD_DDE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 
                    150, 112, 52, 10
    GROUPBOX        "&Destination", -1, 229, 76, 49, 42
    CONTROL         "Screen", IDD_SCREEN, "Button", BS_AUTOCHECKBOX | 
                    WS_TABSTOP, 232, 88, 36, 12
    CONTROL         "File", IDD_TOFILE, "Button", BS_AUTOCHECKBOX | 
                    WS_TABSTOP, 232, 102, 28, 12
    DEFPUSHBUTTON   "Ok", IDOK, 234, 32, 36, 14, WS_GROUP
    PUSHBUTTON      "Cancel", IDCANCEL, 234, 54, 36, 14, WS_GROUP
END
